<%- include("./partials/header")  %>

    <div class="container-ff">
           <a href="/route/share"><button type="button" class="btn btn1">Share</button></a>
            <a href="/route/view"><button type="button" class="btn btn2">View</button></a>
    </div>

<%- include("./partials/footer")  %>